<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div  class="well">

                <h1>Smartadmin Angular 5 <i>lite</i></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae corporis dignissimos doloremque eaque eum modi, quia reprehenderit unde voluptatem.</p>
                <!--<img src="https://api.cryptowat.ch"/>-->
                <!--<iframe [attr.src]="'https://api.cryptowat.ch'" (load)="onLoad()" )></iframe>-->
                <!--<iframe [attr.id]="cr" [attr.src]="url ? url : null" frameBorder="0" (load)="onLoad($event)" style="width:200px;height:200px"></iframe>-->
            </div>
        </div>
    </div>
</div>